base/*.pyc
etc/*.pyc
tools/*.pyc
etc/config/*.pyc
config_global/my.py
config_global/local.py
etc/local.py
etc/my.py
views/*.pyc
*.pyc
reload
template/*old
/cache/*.pyc
.ropeproject
.emacs.desktop*
.env/
.venv/
*.class
.idea/
.DS_Store
config_global/online.py
webcap/static/