base/*.pyc
etc/*.pyc
tools/*.pyc
etc/config/*.pyc
views/*.pyc
*.pyc
reload
template/*old
/cache/*.pyc
.ropeproject
.emacs.desktop*
.env/
.venv/
*.class
.idea/
.DS_Store
config_global/online.py
webcap/static/download/