<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}首页{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ config.static_url_path }}/css/bootstrap.css?v={{ ver('css/bootstrap.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="padding: 70px">
<!-- 导航条-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.index') }}">WebCap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('task.play') }}">查看直播</a></li>
                <li><a href="{{ url_for('task.task_set_load') }}">任务设置</a></li>
                <li><a href="{{ url_for('task.src_list') }}">内容管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            {% if session[const.SESSION.KEY_LOGIN] %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text" style="color:#ffffff"><span class="glyphicon glyphicon-user"
                                                                           aria-hidden="true"></span>
                            {{ session[const.SESSION.KEY_ADMIN_NAME] }}</p>&nbsp;&nbsp;
                    </li>
                    <li>
                        <button id="logout" class="btn btn-danger navbar-btn">Log Out</button>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="login" class="btn btn-success navbar-btn">Log In</button>
                        &nbsp;&nbsp;
                    </li>
                    <li>
                        <button id="register" class="btn btn-warning navbar-btn">Sing Up</button>
                    </li>
                </ul>
            {% endif %}

        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
{% block body %}

{% endblock %}



{% block tail_js %}
<script src="{{ config.static_url_path }}/js/jquery.min.js?v={{ ver('js/jquery.min.js') }}"></script>
<script src="{{ config.static_url_path }}/js/bootstrap.min.js?v={{ ver('js/bootstrap.min.js') }}"></script>
<script src="{{ config.static_url_path }}/js/jquery.form.js?v={{ ver('js/jquery.form.js') }}"></script>
<script src="{{ config.static_url_path }}/js/util.js?v={{ ver('js/util.js') }}"></script>
    <script>
        //验证码
        $('.image').click(function () {
            $(this).attr('src', '{{ url_for("home.get_image_captcha") }}?random=' + Math.random());
        });
        //检验验证码
        $('.image_captcha').keyup(function () {
            len = $(this).val().length;
            if (len == 4) {
                $.get(
                        "{{ url_for('home.check_image_captcha') }}",
                        {image_captcha: $(this).val()},
                        function (resp) {
                            console.log(resp);
                            if (resp.status == 1) {
                                $('#btn_login').removeClass('disabled');
                                $('#btn_register').removeClass('disabled');
                            } else {
                                $('#btn_login').addClass('disabled');
                                $('#btn_register').addClass('disabled');
                                alert(resp.message);
                            }

                        }).fail(function (e) {
                            $('#btn_login').addClass('disabled');
                            $('#btn_register').addClass('disabled');
                            alert("系统错误,稍后再试");
                        });
            } else if (len < 4) {
                $('#btn_login').addClass('disabled');
                $('#btn_register').addClass('disabled');
            }

        });

        //退出
        $('#logout').click(function () {
            window.location.href = '{{ url_for("home.logout") }}';
        });
        //登录
        $('#login').click(function () {
            window.location.href = '{{ url_for("home.login_load") }}';
        });
        //注册
        $('#register').click(function () {
            window.location.href = '{{ url_for("home.register_load") }}';
        });

    </script>
{% endblock %}
</body>
</html>