{% extends "base.html" %}
{% block title %}直播{% endblock %}
{% block body %}
    <div class="container" style="text-align:center">
        <object type='application/x-vlc-plugin' id='vlc' events='True' width="720" height="540">
            <param name='mrl' value='{{ const.LOCAL.IP+device+const.LOCAL.SUFFIX }}'/>
            <param name='volume' value='50'/>
            <param name='autoplay' value='true'/>
            <param name='loop' value='false'/>
            <param name='fullscreen' value='true'/>
        </object>
    </div>
{% endblock body %}
{% block tail_js %}
    {{ super() }}
{% endblock tail_js %}