{% extends "base.html" %}
{% block title %}资源管理{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
{{ super() }}

{% endblock %}
{% block body %}
    <div role="main" class="main">
        <div class="filter">
            <em class="filterName">Filter</em>
            <a class="all selected" href="#">所有</a>
            <a class="video" href="#">视频</a>
            <a class="photography" href="#">图片</a>
        </div>
    </div>
    <div class="postExcerpts">
        {% for s in srcs %}

            <div class="postExcerpt video">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>{{ s.create_time }}</h2>
                        <em class="cat">Video</em>
                    </div>
                    <div class="imgWrap">
                        <img src="{{ s.thumbnail }}">
                    </div>
                    <a class="playAudio" href="#"></a>
                </div>
            </div>
            <div class="postExcerpt photography">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>{{ s.create_time }}</h2>
                        <em class="cat">Photography</em>
                    </div>
                    <div class="imgWrap">
                        <img src="{{ s.thumbnail }}">
                    </div>
                    <a class="view" href="#">12123131313</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock body %}
{% block tail_js %}
    {{ super() }}

    <script src="/static/js/src/audioPlayer.js"></script>
    <script src="/static/js/src/sort.js"></script>


{% endblock tail_js %}