<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
        </div>
        <div class="center sliding">设备管理</div>
        <div class="right">
            <a href="#" id="device_add" class="link">新增</a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="device_list" class="page">

        <div id="device-list-pull-to-refresh-content" class="page-content pull-to-refresh-content">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div id="device_list_container" class="list-block">
                {% include 'app/device_list_block.html' %}
            </div>

        </div>
    </div>
</div>