<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">首页</div>
    </div>
</div>


<div class="pages navbar-through">
    <!-- Page, data-page contains page name-->
    <div data-page="tab-index" class="page">
        <!-- Scrollable page content-->
        <div class="page-content">

            <div class="content-block">
                {% if  session[const.SESSION.KEY_LOGIN] %}
                    <p>您好，{{ session[const.SESSION.KEY_ADMIN_NAME] }}。</p>
                {% endif %}
            </div>

            {% if not session[const.SESSION.KEY_LOGIN] %}
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="{{ url_for("home.login_load") }}" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">登录</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for("home.register_load") }}" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">注册</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% if session[const.SESSION.KEY_LOGIN] %}
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="{{ url_for("home.logout") }}" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">注销</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="content-block-title"><strong>获取设备号</strong></div>
            <!-- Inset content block -->
            <div class="content-block inset">
                <div class="content-block-inner">
                    <p>获取唯一的设备号,<strong>一个PC客户端对应一个设配号。</strong>
                        一个人可以有多个设备。要使用客户端请先申请一个设备号，然后按照说明填写设备号</p>
                </div>
            </div>

            <div class="content-block-title"><strong>设定定时任务</strong></div>
            <!-- Inset content block -->
            <div class="content-block inset">
                <div class="content-block-inner">
                    <p><strong>先获取设备号</strong>，因为根据设备号，设定定时任务</p>
                </div>
            </div>
            <div class="content-block-title"><strong>设定定时任务</strong></div>
            <!-- Inset content block -->
            <div class="content-block inset">
                <div class="content-block-inner">
                    <p><strong>先获取设备号</strong>，因为根据设备号，设定定时任务</p>
                </div>
            </div>
        </div>
    </div>
</div>