<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">设备</div>
    </div>
</div>


<div class="pages navbar-through">
    <div data-page="tab-device" class="page">
        <div class="page-content">

            <div class="content-block-title">设备管理</div>


            <div class="list-block">
                <ul>
                    <li>
                        <a href="{{ url_for("device.device_list_load") }}" class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">设备列表</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>