<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">管理界面</div>
    </div>
</div>


<div class="pages navbar-through">
    <div data-page="tab-manage" class="page">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <a href="{{ url_for("device.device_list_load") }}" class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">设备管理</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("task.task_list_load") }}" class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">任务管理</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href='{{ url_for("src.src_list") }}' class="item-link">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">资源列表</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>