{% extends "pc/base.html" %}
{% block title %}首页{% endblock %}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2><strong>您好，欢迎使用WebCam</strong></h2>

            <p>使用前请先下载本站的PC客户端,然后根据提示运行客户端 客户端只能在Windows版使用</p>

            <p>点击二维码 或者 扫码 可以获取APP</p>

            <div class="pull-right row">
                <div class="col-md-5">
                    <a href="{{ url_for('home.download_apk') }}"><img src="{{ url_for('home.apk_qrcode') }}"
                                                                      width="100px" height="100px"/></a>
                </div>

                <a id="download" class="btn btn-primary btn-lg pull-right" href="{{ url_for('home.download_apk') }}"
                   role="button">客户端下载
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>
            </div>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2>获取设备号</h2>

                <p>获取唯一的设备号,<strong>一个PC客户端对应一个设配号。</strong>一个人可以有多个设备。要使用客户端请先申请一个设备号，然后按照说明填写设备号</p>

                <p><a class="btn btn-default" href="{{ url_for('device.device_list_load') }}"
                      role="button" id="get_device">获取设备号 &raquo;</a></p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h2>设定定时任务</h2>

                <p><strong>先获取设备号</strong>，因为根据设备号，设定定时任务 </p>

                <p><a class="btn btn-default" href="{{ url_for('task.task_list_load') }}"
                      role="button">设定定时任务 &raquo;</a></p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h2>查看资源</h2>

                <p>定时任务<strong>完成</strong>后，可以查看相应的资源</p>

                <p><a class="btn btn-default" href="{{ url_for('src.src_list') }}" role="button">查看资源 &raquo;</a></p>
            </div>
        </div>

    </div>

{% endblock body %}
{% block tail_js %}
    {{ super() }}
    <script>

        //用户提示
        {% if session[const.SESSION.KEY_LOGIN] %}
            var is_show = false;
        {% else %}
            var is_show = true;
        {% endif %}
        if (is_show) {
            $('#login').grumble({
                text: '1 请先登录或注册',
                angle: 180,
                distance: 12,
                showAfter: 1000,
                hideAfter: 5000,
            });

            $('#download').grumble({
                text: '2 下载PC客户端',
                angle: 200,
                distance: 12,
                showAfter: 2000,
                hideAfter: 5000,
            });

            $('#get_device').grumble({
                text: '3 获取设备号',
                angle: 90,
                distance: 50,
                showAfter: 3000,
                hideAfter: 5000,
            });
        }
    </script>
{% endblock tail_js %}