{% extends "pc/base.html" %}
{% block title %}首页{% endblock %}
{% block css %}
    <link href="{{ config.static_url_path }}/css/download.css?v={{ ver('css/download.css') }}" rel="stylesheet"/>
    {{ super() }}
{% endblock %}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2><strong>您好，欢迎使用WebCam</strong></h2>

            <p>可以随时进行视频监控 <strong>使用说明如下</strong></p>

            <p>主要功能：<strong>实时监控，定时截图、录像等</strong></p>

            <a id="download" class="btn btn-primary btn-lg pull-right" href="{{ url_for('home.download_apk') }}"
               role="button">Windows客户端下载
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>

        </div>
    </div>

    <div class="app-download">
        <ul>
            <li class="app">
                <div class="app-logo">
                    <img src="{{ url_for('home.apk_qrcode') }}" width="200px" height="200px"/>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2>获取设备号</h2>

                <p>获取唯一的设备号,<strong>一个PC客户端对应一个设配号。</strong>一个人可以有多个设备。要使用客户端请先申请一个设备号，然后按照说明填写设备号</p>

                <p><a class="btn btn-default" href="{{ url_for('device.device_list_load') }}"
                      role="button" id="get_device">获取设备号 &raquo;</a></p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h2>设置定时任务</h2>

                <p><strong>先获取设备号</strong>，因为根据设备号，设置定时任务 </p>

                <p><a class="btn btn-default" href="{{ url_for('task.task_list_load') }}"
                      role="button">设置定时任务 &raquo;</a></p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h2>查看资源</h2>

                <p>任务<strong>完成</strong>后，可以管理资源</p>

                <p><a class="btn btn-default" href="{{ url_for('src.src_list') }}" role="button">查看资源 &raquo;</a></p>
            </div>
        </div>

    </div>

{% endblock body %}
{% block tail_js %}
    {{ super() }}
    <script>

        //用户提示
        {% if session[const.SESSION.KEY_LOGIN] %}
            var is_show = false;
        {% else %}
            var is_show = true;
        {% endif %}
        if (is_show) {
            $('#login').grumble({
                text: '1 请先登录或注册',
                angle: 180,
                distance: 12,
                showAfter: 1000,
                hideAfter: 5000
            });

            $('#download').grumble({
                text: '2 下载PC客户端',
                angle: 200,
                distance: 12,
                showAfter: 2000,
                hideAfter: 5000
            });

            $('#get_device').grumble({
                text: '3 获取设备号',
                angle: 90,
                distance: 50,
                showAfter: 3000,
                hideAfter: 5000
            });
        }

        $(".app").click(function () {
            goTo("{{ url_for('home.download_apk') }}");
        });
    </script>
{% endblock tail_js %}