{% extends "pc/base.html" %}
{% block title %}资源管理{% endblock %}
{% block css %}
    <link href="{{ config.static_url_path }}/css/normalize.css?v={{ ver('css/normalize.css') }}" rel="stylesheet"/>
    <link href="{{ config.static_url_path }}/css/src.css?v={{ ver('css/src.css') }}" rel="stylesheet"/>
    <link href="{{ config.static_url_path }}/css/sexylightbox.css?v={{ ver('css/sexylightbox.css') }}" rel="stylesheet">
    {{ super() }}

{% endblock %}
{% block body %}

    <div role="main" class="main">
        <div class="filter">
            <em class="filterName">Filter</em>
            <a class="all selected" href="#">所有</a>
            <a class="video" href="#">视频</a>
            <a class="photography" href="#">图片</a>
        </div>
    </div>
    <div class="postExcerpts">
        {% for s in srcs %}
            {% if s.type == const.TYPE.VIDEO %}
                <div class="postExcerpt video">
                    <div class="postExcerptInner">
                        <button class="close" aria-label="Close" src_id= {{ s.id }}><span
                                aria-hidden="true">&times;</span></button>
                        <div class="titleAndCat">
                            <h2>{{ s.create_time }}</h2>
                            <em class="cat">Video</em>
                        </div>
                        <div class="imgWrap">
                            <img src="{{ s.thumbnail }}">
                        </div>
                        <div id="{{ s.id }}" style="display:none;">
                            <video src="{{ s.src_path }}" controls></video>
                        </div>
                        <a class="playVideo" href="#TB_inline?height=500&width=650&background=#FFF&inlineId={{ s.id }}"
                           rel="sexylightbox[video]" title="{{ s.create_time }}"></a>
                    </div>
                </div>
            {% else %}
                <div class="postExcerpt photography">
                    <div class="postExcerptInner">
                        <button class="close" aria-label="Close" src_id= {{ s.id }}><span
                                aria-hidden="true">&times;</span></button>
                        <div class="titleAndCat">
                            <h2>{{ s.create_time }}</h2>
                            <em class="cat">Photography</em>
                        </div>
                        <div class="imgWrap">
                            <img src="{{ s.thumbnail }}">
                        </div>
                        <a class="view" href="{{ s.src_path }}?height=500&width=700" rel="sexylightbox[photography]"
                           title="{{ s.create_time }}"></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="go_up"></div>
{% endblock body %}
{% block tail_js %}
    {{ super() }}

    <script src="{{ config.static_url_path }}/js/audioPlayer.js?v={{ ver('js/audioPlayer.js') }}"></script>
    <script src="{{ config.static_url_path }}/js/sort.js?v={{ ver('js/sort.js') }}"></script>
    <script src="{{ config.static_url_path }}/js/jquery.easing.1.3.js?v={{ ver('js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ config.static_url_path }}/js/sexylightbox.v2.3.jquery.js?v={{ ver('js/sexylightbox.v2.3.jquery.js') }}"></script>

    <script>
        SexyLightbox.initialize({color: 'white', imagesdir: '{{config.static_url_path}}/images/sexyimages'});
        GoUp('#go_up', '{{config.static_url_path}}/images/gotoTop.png');
        $('.close').click(function () {
            var src_id = $(this).attr('src_id');
            var flag = confirm("真的要删除?");
            if (flag) {
                $.post(
                        '{{ url_for("src.src_cancel") }}',
                        {src_id: src_id},
                        function (resp) {
                            if (resp.status == 1) {
                                $(this).removeClass('disabled');
                                redirect("删除成功");
                            } else {
                                error(resp.message);
                            }
                        }
                ).fail(function () {
                            $(this).removeClass('disabled');
                            error('网络故障 请检查网络连接!');
                        });
            }

        });
    </script>
{% endblock tail_js %}